.dropdown-menu[data-bs-popper] {
    left: -120px;
  }

  .btn-success {
    margin-right: 10px;
  }
  
  .margin10px{
    margin-left: 10px;
  }
  .marginTop{
    margin-top: 35px;
  }
  .blueGrey{
    color: grey;
  }
  .blueGrey :active{
    color: blue;
  }